/* Основные стили */
.container {
    display: flex; /* Используем флекс-контейнер */
    flex-wrap: wrap; /* Разрешаем элементам переноситься на следующую строку при нехватке места */
}

.container div {
    flex: 1 1 300px; /* Устанавливаем равномерное распределение элементов по ширине контейнера, ширина блока - 300px */
    margin: 10px; /* Отступы между блоками */
}

.text {
    font-size: 18px; /* Размер шрифта 18px */
    line-height: 1.5; /* Межстрочный интервал */
}

.text2 {
    font-size: calc(18px / 1.5 * 1.5); /* Вычисляем размер шрифта как 1.5 раза больше, чем у класса .text */
    line-height: 1.5; /* Межстрочный интервал */
}

.image {
    height: 200px; /* Задаем высоту изображений */
    width: 100%; /* Ширина изображений занимает всю доступную ширину блока */
    object-fit: cover; /* Изображения вписываются в блок, сохраняя пропорции и обрезаясь при необходимости */
    border-radius: 10px; /* Закругляем углы изображений */
}
